<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Hoteles"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <!--<Label class="page__content-placeholder" *ngFor="let s of this.noticias.buscar()" [text]="s"></Label> -->

    <ListView class="list-group" [items]= "this.hoteles.buscar()" (itemTap)= "onItemTap($event)" style="height: 1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" style="width: 20%"></Image>
                <label [text]= "x" class="list-group-item-heading" verticalAligment="center" style="width: 60%; font-size: 14px;"></label>
               
                <button text= "Detalles" style="width: 28%; font-size: 14px" [class.-selected]="isComponentSelected('/hoteles/hoteldetalle')" (tap)="onNavItemTap('/hoteles/hoteldetalle')"></button>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>