<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalles del hotel"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <Label class="page__content-placeholder" text="<!-- Detalle del Hotel -->"></Label>
    
    <StackLayout colums="auti,*,auto" rows="auto,25" verticalAligment="top" backgroundColor="lightgray">
        <image src="~/icon.jpg" rowSpan="2" widh="72" height="72" margin="3" verticalAligment="top"></image>
        <label text="Exelente Hotel!" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></label>
        <label text="Usuario: Carlos Perez" col="1" row="1" fontSize="14" horizontalAligment="left"            verticalAligment="bottom" margin="3"></label>
        <label text="Puntaje: 4.3" col="2" row="1" color="#10C2B0" fontSize="14" verticalAligment="bottom"             margin="3"></label>
    </StackLayout>
    
</StackLayout>

